<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>538864311970-13bjmnl163ss8jvvgaaem421t7mlo90u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.538864311970-13bjmnl163ss8jvvgaaem421t7mlo90u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>538864311970-90ccs4lb4f9vnr0o78ofkmbh706hme45.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCtalCEtf_h8OwPnpG2lS2RovtbYMUqn10</string>
	<key>GCM_SENDER_ID</key>
	<string>538864311970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gamepub.PubSDKsample</string>
	<key>PROJECT_ID</key>
	<string>pubsdk</string>
	<key>STORAGE_BUCKET</key>
	<string>pubsdk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:538864311970:ios:6221a753f028498a9e81fb</string>
	<key>DATABASE_URL</key>
	<string>https://pubsdk.firebaseio.com</string>
</dict>
</plist>